*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Google Sans',
    Roboto, 'Segoe UI', Helvetica, Arial, sans-serif;
  margin: 0;
}

header {
  padding: 24px 0;
}

h1 {
  font-weight: 300;
}

h1 strong {
  font-weight: 900;
}

.nav {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;

  display: flex;
  justify-content: space-between;
  align-content: center;
}
