- const siteName = 'moul •'
- const siteDescription = 'The minimalist photo collection builder'
- const version = 'v1.0.0-beta.1'
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title= siteName
    meta(name='description' content= siteDescription)
    include partials/meta/twitter.pug
    include partials/meta/facebook.pug
    link(rel='apple-touch-icon' sizes='180x180' href='./icons/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='./icons/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='icons/favicon-16x16.png')
    link(rel='manifest' href='./icons/site.webmanifest')
    link(rel='mask-icon' href='./icons/safari-pinned-tab.svg' color='#111111')
    link(rel='shortcut icon' href='./icons/favicon.ico')
    meta(name='theme-color' content='#ffffff')
    script(src='./index.js' defer)
    link(rel='stylesheet' href='./index.styl')
  body
    header
      .nav
        .container.between-center
          .nav--logo
            a(href='/')= siteName
            a.badge(href='https://github.com/sophearak/moul/releases')= version
          .nav--link
            a(href='#features') Features
            a(href='https://github.com/sophearak/moul#usage') Usage
            a(href='https://github.com/sophearak/moul') Github
            a.button.is-secondary(href='#get-started') Get Started
    .hero
      .container.start-center
        .hero--content
          h1
            strong= siteName
            | &nbsp;The minimalist photo collection generator
          a.button.is-primary(href='#download') Download
          a.button.is-secondary(href='https://demo.moul.app') Demo
        .hero--terminal
          img(src='./terminal.png', alt='Terminal')
    #features.feature
      h2 Features
      .container.between-center
        .feature--item
          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24')
            circle(cx='12', cy='12', r='10')
          h3 Simplicity
          p Simple and intuitive to use
        .feature--item
          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24')
            rect(x='3', y='3', width='18', height='18', rx='2', ry='2')
            circle(cx='8.5', cy='8.5', r='1.5')
            polyline(points='21 15 16 10 5 21')
          h3 Smart
          p Deterministic photo layout
        .feature--item
          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24')
            polyline(points='16 18 22 12 16 6')
            polyline(points='8 6 2 12 8 18')
          h3 JAMStack
          p
            | Future proof&nbsp;
            a(href='https://jamstack.org/', target='blank') JAMStack
        .feature--item
          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24')
            path(d='M12.89 1.45l8 4A2 2 0 0 1 22 7.24v9.53a2 2 0 0 1-1.11 1.79l-8 4a2 2 0 0 1-1.79 0l-8-4a2 2 0 0 1-1.1-1.8V7.24a2 2 0 0 1 1.11-1.79l8-4a2 2 0 0 1 1.78 0z')
            polyline(points='2.32 6.16 12 11 21.68 6.16')
            line(x1='12', y1='22.76', x2='12', y2='11')
          h3 The One
          p One Binary to rule them all
    #get-started.get-started
      h2 Get Started
      .container.center
        .card
          h5.card--title
            | Download a&nbsp;
            a(href='https://github.com/sophearak/moul/releases', target='blank') single binary
            | , add to $PATH and you’re done
        h3 Or
      .tab
        .tab--heading
          .container.start-center
            h4.platform.active(data-platform='macOS') macOS
            h4.platform(data-platform='Linux') Linux
            h4.platform(data-platform='Windows') Windows
        .tab--content.macOS
          .container.center
            .is-macOS
              h5 Open Terminal
              .card
                h5.card--title
                  pre
                    | curl -s https://moul.app/install.sh --darwin | sh
            .is-Linux
              | Coming soon
              //- h5 Open Terminal
              //- .card
              //-   h5.card--title
              //-     pre
              //-       | curl -s https://moul.app/install.sh --linux | sh
            .is-Windows
              | Coming soon
    footer
      .container.center
        p
          | Made with <del>love</del> <del>keyboard</del> coffee!
        p.copyright
          | MIT License © 2019 <a href="https://sophearak.me/">Sophearak</a>
