primary-color = #0082ff
timing-function = cubic-bezier(0.4, 0, 0.2, 1)

*,
:after,
:before
  box-sizing border-box

body
  font-family system-ui, -apple-system, BlinkMacSystemFont, 'Google Sans',
    Roboto, 'Segoe UI', Helvetica, Arial, sans-serif
  margin 0
  color #111

a
  color #999
  text-decoration none
  transition color 150ms timing-function
  &:hover
    color #111

header
  padding 24px 0

h1
  font-weight 300
  strong
    font-weight 900

h2
  font-size 32px
  line-height 1
  font-weight 300
  text-align center
  margin 0 0 60px

svg
  width 24px
  height 24px
  stroke currentColor
  stroke-width 2
  stroke-linecap round
  stroke-linejoin round
  fill none

.container
  max-width 1000px
  width 100%
  margin 0 auto
  padding 0 12px

.between-center
  display flex
  justify-content space-between
  align-content center

.start-center
  display flex
  justify-content flex-start
  align-items center

.center
  display flex
  justify-content center
  align-items center

.nav
  &--logo
    display flex
    align-items center
    a
      display inline-block
      margin 12px 0
      color #111
      font-size 20px
      line-height 1
      font-weight 900
      &.version
        font-size 12px
        font-weight 500
        color #999
        background #fafafa
        padding 6px
        border-radius 3px
        border 1px solid #ddd
        margin 0 0 0 8px
        transition all 150ms timing-function
        &:focus, &:hover
          color #666
          background #eee
          border-color transparent
  &--link
    a
      margin 0 12px

.button
  display inline-block
  padding 12px 24px
  border-radius 6px
  transition all 150ms timing-function
  &:focus, &:hover
    box-shadow 0 5px 10px rgba(0, 0, 0, 0.15)
  &.is-primary
    color #fff
    background primary-color
    border 1px solid transparent
    &:focus,
    &:hover
      color #fff
      transform scale(1.03)
  &.is-secondary
    background #fff
    border solid 1px #dddddd
    &:focus,
    &:hover
      color #111
      border 1px solid transparent
      box-shadow 0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 6px 2px rgba(0, 0, 0, 0.06)

.hero
  padding 40px 0 80px
  &--content
    width 40%
    a
      &:last-child
        margin-left 8px
  &--terminal
    width 60%
    img
      width 688px
      height auto

.feature
  background #fafafa
  padding 100px 0 120px
  border-top 1px solid #ddd
  border-bottom 1px solid #ddd
  &--item
    width 230px
    height 250px
    border 1px solid #ddd
    text-align center
    border-radius 8px
    padding 12px
    display flex
    justify-content center
    align-items center
    flex-flow column
    transition all 150ms timing-function
    background #fff
    svg
      transition all 150ms timing-function
    h3
      line-height 1
      margin 16px 0 8px
    p
      font-size 15px
      line-height 1.5
      margin 0
      color #444
    &:focus, &:hover
      border-color transparent
      box-shadow 0 5px 10px rgba(0, 0, 0, 0.15)
      svg
        transform scale(1.5)

.get-started
  padding 80px 0

.tab
  &--heading
    border-bottom 1px solid #ddd
    h4
      font-size 16px
      line-height 1
      margin 0
      padding 16px 12px
      color #999
      font-weight 400
      cursor pointer
      transition color 150ms timing-function
      &:hover, &:focus, &.active
        color #111
  &--content
    padding 24px 0
    [class^='is-']
      display none
    &.macOS .is-macOS,
    &.Linux .is-Linux,
    &.Windows .is-Windows
      display block
.card
  width 700px
  border 1px solid #ddd
  border-radius 8px
  margin-bottom 24px
  &--title
    font-size 16px
    line-height 1
    font-weight 300
    margin 0
    padding 16px 24px
    background #fafafa
    border-top-left-radius 7px
    border-top-right-radius 7px
    &:last-child
      border-bottom-left-radius 7px
      border-bottom-right-radius 7px
    &:not(:last-child)
      border-bottom 1px solid #ddd
  &--text
    padding 16px 24px
  &--note
    margin 0
    padding 8px 24px
    background #f4f4f4
    border-bottom-left-radius 7px
    border-bottom-right-radius 7px

